V2.x/trunk/SpagoBIProject/content.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobicontent" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobicontent" xmlns:intf="urn:spagobicontent" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.content.services.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://bo.content.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Content">
    <sequence>
     <element name="content" nillable="true" type="soapenc:string"/>
     <element name="fileName" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="readTemplateResponse">

      <wsdl:part name="readTemplateReturn" type="tns2:Content"/>

   </wsdl:message>

   <wsdl:message name="readTemplateRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="ContentService">

      <wsdl:operation name="readTemplate" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:readTemplateRequest" name="readTemplateRequest"/>

         <wsdl:output message="impl:readTemplateResponse" name="readTemplateResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ContentServiceSoapBinding" type="impl:ContentService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="readTemplate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readTemplateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobicontent" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="readTemplateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobicontent" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ContentServiceService">

      <wsdl:port binding="impl:ContentServiceSoapBinding" name="ContentService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/ContentService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
