V2.x/trunk/SpagoBIProject/datasource.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobidatasource" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobidatasource" xmlns:intf="urn:spagobidatasource" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.datasource.services.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://bo.datasource.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SpagoBiDataSource">
    <sequence>
     <element name="driver" nillable="true" type="soapenc:string"/>
     <element name="jndiName" nillable="true" type="soapenc:string"/>
     <element name="password" nillable="true" type="soapenc:string"/>
     <element name="url" nillable="true" type="soapenc:string"/>
     <element name="user" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataSourceResponse">

      <wsdl:part name="getDataSourceReturn" type="tns2:SpagoBiDataSource"/>

   </wsdl:message>

   <wsdl:message name="getDataSourceRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="DataSourceService">

      <wsdl:operation name="getDataSource" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getDataSourceRequest" name="getDataSourceRequest"/>

         <wsdl:output message="impl:getDataSourceResponse" name="getDataSourceResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataSourceServiceSoapBinding" type="impl:DataSourceService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDataSource">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataSourceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidatasource" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataSourceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidatasource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataSourceServiceService">

      <wsdl:port binding="impl:DataSourceServiceSoapBinding" name="DataSourceService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/DataSourceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
