V2.x/trunk/SpagoBIProject/dataset.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobidataset" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobidataset" xmlns:intf="urn:spagobidataset" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="readDataRequest">

      <wsdl:part name="in0" type="apachesoap:Map"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="readDataResponse">

      <wsdl:part name="readDataReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="DataSetWsInterface">

      <wsdl:operation name="readData" parameterOrder="in0 in1">

         <wsdl:input message="impl:readDataRequest" name="readDataRequest"/>

         <wsdl:output message="impl:readDataResponse" name="readDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataSetServiceSoapBinding" type="impl:DataSetWsInterface">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="readData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="readDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataSetWsInterfaceService">

      <wsdl:port binding="impl:DataSetServiceSoapBinding" name="DataSetService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/DataSetService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
