V_2.x/tags/SpagoBI-2.1.0(20090316)/SpagoBIProject/wssession.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobiwssession" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobiwssession" xmlns:intf="urn:spagobiwssession" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://exceptions.session.services.spagobi.eng.it" xmlns:tns3="http://bo.session.services.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://exceptions.session.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:spagobiwssession"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://bo.session.services.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AuthenticationException">
    <sequence/>
   </complexType>
   <complexType name="NonExecutableDocumentException">
    <sequence/>
   </complexType>
  </schema>
  <schema targetNamespace="http://bo.session.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.session.services.spagobi.eng.it"/>
   <import namespace="urn:spagobiwssession"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Document">
    <sequence>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="engineId" nillable="true" type="soapenc:int"/>
     <element name="engineLabel" nillable="true" type="soapenc:string"/>
     <element name="engineName" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:int"/>
     <element name="label" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="state" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Check">
    <sequence>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="firstValue" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:int"/>
     <element name="label" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="secondValue" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="DocumentParameter">
    <sequence>
     <element name="id" nillable="true" type="soapenc:int"/>
     <element name="label" nillable="true" type="soapenc:string"/>
     <element name="urlName" nillable="true" type="soapenc:string"/>
     <element name="checks" nillable="true" type="impl:ArrayOf_tns3_Check"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:spagobiwssession" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.session.services.spagobi.eng.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://bo.session.services.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns3_Document">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Document[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_Check">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:Check[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_DocumentParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:DocumentParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.session.services.spagobi.eng.it"/>
   <import namespace="urn:spagobiwssession"/>
   <import namespace="http://bo.session.services.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDocumentsRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NonExecutableDocumentException">

      <wsdl:part name="fault" type="tns2:NonExecutableDocumentException"/>

   </wsdl:message>

   <wsdl:message name="getAdmissibleValuesRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="openSessionResponse">

   </wsdl:message>

   <wsdl:message name="isValidSessionResponse">

      <wsdl:part name="isValidSessionReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="closeSessionRequest">

   </wsdl:message>

   <wsdl:message name="getCorrectRolesForExecutionRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="closeSessionResponse">

   </wsdl:message>

   <wsdl:message name="openSessionWithTokenRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="openSessionWithTokenResponse">

   </wsdl:message>

   <wsdl:message name="getDocumentParametersRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="isValidSessionRequest">

   </wsdl:message>

   <wsdl:message name="getAdmissibleValuesResponse">

      <wsdl:part name="getAdmissibleValuesReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDocumentParametersResponse">

      <wsdl:part name="getDocumentParametersReturn" type="impl:ArrayOf_tns3_DocumentParameter"/>

   </wsdl:message>

   <wsdl:message name="openSessionRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDocumentsResponse">

      <wsdl:part name="getDocumentsReturn" type="impl:ArrayOf_tns3_Document"/>

   </wsdl:message>

   <wsdl:message name="getCorrectRolesForExecutionResponse">

      <wsdl:part name="getCorrectRolesForExecutionReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="AuthenticationException">

      <wsdl:part name="fault" type="tns2:AuthenticationException"/>

   </wsdl:message>

   <wsdl:portType name="SessionService">

      <wsdl:operation name="openSession" parameterOrder="in0 in1">

         <wsdl:input message="impl:openSessionRequest" name="openSessionRequest"/>

         <wsdl:output message="impl:openSessionResponse" name="openSessionResponse"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="openSessionWithToken" parameterOrder="in0 in1">

         <wsdl:input message="impl:openSessionWithTokenRequest" name="openSessionWithTokenRequest"/>

         <wsdl:output message="impl:openSessionWithTokenResponse" name="openSessionWithTokenResponse"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="isValidSession">

         <wsdl:input message="impl:isValidSessionRequest" name="isValidSessionRequest"/>

         <wsdl:output message="impl:isValidSessionResponse" name="isValidSessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="closeSession">

         <wsdl:input message="impl:closeSessionRequest" name="closeSessionRequest"/>

         <wsdl:output message="impl:closeSessionResponse" name="closeSessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDocuments" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getDocumentsRequest" name="getDocumentsRequest"/>

         <wsdl:output message="impl:getDocumentsResponse" name="getDocumentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCorrectRolesForExecution" parameterOrder="in0">

         <wsdl:input message="impl:getCorrectRolesForExecutionRequest" name="getCorrectRolesForExecutionRequest"/>

         <wsdl:output message="impl:getCorrectRolesForExecutionResponse" name="getCorrectRolesForExecutionResponse"/>

         <wsdl:fault message="impl:NonExecutableDocumentException" name="NonExecutableDocumentException"/>

      </wsdl:operation>

      <wsdl:operation name="getDocumentParameters" parameterOrder="in0 in1">

         <wsdl:input message="impl:getDocumentParametersRequest" name="getDocumentParametersRequest"/>

         <wsdl:output message="impl:getDocumentParametersResponse" name="getDocumentParametersResponse"/>

         <wsdl:fault message="impl:NonExecutableDocumentException" name="NonExecutableDocumentException"/>

      </wsdl:operation>

      <wsdl:operation name="getAdmissibleValues" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAdmissibleValuesRequest" name="getAdmissibleValuesRequest"/>

         <wsdl:output message="impl:getAdmissibleValuesResponse" name="getAdmissibleValuesResponse"/>

         <wsdl:fault message="impl:NonExecutableDocumentException" name="NonExecutableDocumentException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSSessionServiceSoapBinding" type="impl:SessionService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="openSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="openSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="openSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AuthenticationException" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="openSessionWithToken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="openSessionWithTokenRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="openSessionWithTokenResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AuthenticationException" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isValidSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isValidSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isValidSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="closeSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="closeSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="closeSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocuments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCorrectRolesForExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCorrectRolesForExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCorrectRolesForExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NonExecutableDocumentException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NonExecutableDocumentException" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDocumentParameters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentParametersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDocumentParametersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NonExecutableDocumentException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NonExecutableDocumentException" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdmissibleValues">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdmissibleValuesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAdmissibleValuesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NonExecutableDocumentException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NonExecutableDocumentException" namespace="urn:spagobiwssession" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SessionServiceService">

      <wsdl:port binding="impl:WSSessionServiceSoapBinding" name="WSSessionService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/WSSessionService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
