trunk/SpagoBIUnitTests/src/FullDataSet.dtd

<!ELEMENT dataset (
    sbi_checks*,
    sbi_domains*,
    sbi_engines*,
    sbi_ext_roles*,
    sbi_func_role*,
    sbi_functions*,
    sbi_lov*,
    sbi_obj_func*,
    sbi_obj_par*,
    sbi_obj_state*,
    sbi_objects*,
    sbi_parameters*,
    sbi_paruse*,
    sbi_paruse_ck*,
    sbi_paruse_det*)>

<!ELEMENT sbi_checks EMPTY>
<!ATTLIST sbi_checks
    check_id CDATA #REQUIRED
    descr CDATA #IMPLIED
    label CDATA #REQUIRED
    value_type_cd CDATA #REQUIRED
    value_type_id CDATA #REQUIRED
    value_1 CDATA #IMPLIED
    value_2 CDATA #IMPLIED
    name CDATA #REQUIRED
>

<!ELEMENT sbi_domains EMPTY>
<!ATTLIST sbi_domains
    value_id CDATA #REQUIRED
    value_cd CDATA #IMPLIED
    value_nm CDATA #IMPLIED
    domain_cd CDATA #IMPLIED
    domain_nm CDATA #IMPLIED
    value_ds CDATA #IMPLIED
>

<!ELEMENT sbi_engines EMPTY>
<!ATTLIST sbi_engines
    engine_id CDATA #REQUIRED
    encrypt CDATA #IMPLIED
    name CDATA #REQUIRED
    descr CDATA #IMPLIED
    main_url CDATA #REQUIRED
    secn_url CDATA #IMPLIED
    obj_upl_dir CDATA #IMPLIED
    obj_use_dir CDATA #IMPLIED
    driver_nm CDATA #REQUIRED
    label CDATA #REQUIRED
>

<!ELEMENT sbi_ext_roles EMPTY>
<!ATTLIST sbi_ext_roles
    ext_role_id CDATA #REQUIRED
    name CDATA #IMPLIED
    descr CDATA #IMPLIED
    code CDATA #IMPLIED
    role_type_cd CDATA #REQUIRED
    role_type_id CDATA #REQUIRED
>

<!ELEMENT sbi_func_role EMPTY>
<!ATTLIST sbi_func_role
    role_id CDATA #REQUIRED
    funct_id CDATA #REQUIRED
    state_cd CDATA #IMPLIED
    state_id CDATA #REQUIRED
>

<!ELEMENT sbi_functions EMPTY>
<!ATTLIST sbi_functions
    funct_id CDATA #REQUIRED
    funct_type_cd CDATA #REQUIRED
    parent_funct_id CDATA #IMPLIED
    name CDATA #IMPLIED
    descr CDATA #IMPLIED
    path CDATA #IMPLIED
    code CDATA #REQUIRED
    funct_type_id CDATA #REQUIRED
>

<!ELEMENT sbi_lov EMPTY>
<!ATTLIST sbi_lov
    lov_id CDATA #REQUIRED
    descr CDATA #IMPLIED
    label CDATA #REQUIRED
    input_type_cd CDATA #REQUIRED
    default_val CDATA #IMPLIED
    lov_provider CDATA #IMPLIED
    input_type_id CDATA #REQUIRED
    profile_attr CDATA #IMPLIED
    name CDATA #REQUIRED
>

<!ELEMENT sbi_obj_func EMPTY>
<!ATTLIST sbi_obj_func
    biobj_id CDATA #REQUIRED
    funct_id CDATA #REQUIRED
    prog CDATA #IMPLIED
>

<!ELEMENT sbi_obj_par EMPTY>
<!ATTLIST sbi_obj_par
    par_id CDATA #REQUIRED
    biobj_id CDATA #REQUIRED
    label CDATA #REQUIRED
    req_fl CDATA #IMPLIED
    mod_fl CDATA #IMPLIED
    view_fl CDATA #IMPLIED
    mult_fl CDATA #IMPLIED
    prog CDATA #REQUIRED
    parurl_nm CDATA #IMPLIED
>

<!ELEMENT sbi_obj_state EMPTY>
<!ATTLIST sbi_obj_state
    biobj_id CDATA #REQUIRED
    state_id CDATA #REQUIRED
    end_dt CDATA #IMPLIED
    start_dt CDATA #REQUIRED
    note CDATA #IMPLIED
>

<!ELEMENT sbi_objects EMPTY>
<!ATTLIST sbi_objects
    biobj_id CDATA #REQUIRED
    engine_id CDATA #REQUIRED
    descr CDATA #IMPLIED
    label CDATA #REQUIRED
    encrypt CDATA #IMPLIED
    path CDATA #IMPLIED
    rel_name CDATA #IMPLIED
    state_id CDATA #REQUIRED
    state_cd CDATA #REQUIRED
    biobj_type_cd CDATA #REQUIRED
    biobj_type_id CDATA #REQUIRED
    sched_fl CDATA #IMPLIED
    exec_mode_id CDATA #IMPLIED
    state_cons_id CDATA #IMPLIED
    exec_mode_cd CDATA #IMPLIED
    state_cons_cd CDATA #IMPLIED
    name CDATA #REQUIRED
>

<!ELEMENT sbi_parameters EMPTY>
<!ATTLIST sbi_parameters
    par_id CDATA #REQUIRED
    descr CDATA #IMPLIED
    length CDATA #REQUIRED
    label CDATA #REQUIRED
    par_type_cd CDATA #REQUIRED
    mask CDATA #IMPLIED
    par_type_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT sbi_paruse EMPTY>
<!ATTLIST sbi_paruse
    use_id CDATA #REQUIRED
    lov_id CDATA #REQUIRED
    label CDATA #REQUIRED
    descr CDATA #IMPLIED
    par_id CDATA #REQUIRED
    name CDATA #REQUIRED
>

<!ELEMENT sbi_paruse_ck EMPTY>
<!ATTLIST sbi_paruse_ck
    check_id CDATA #REQUIRED
    use_id CDATA #REQUIRED
    prog CDATA #IMPLIED
>

<!ELEMENT sbi_paruse_det EMPTY>
<!ATTLIST sbi_paruse_det
    ext_role_id CDATA #REQUIRED
    prog CDATA #IMPLIED
    use_id CDATA #REQUIRED
    hidden_fl CDATA #IMPLIED
    default_val CDATA #IMPLIED
>

